/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit{
        box-shadow: 10px 10px 20px #002424;
        background-image: url(../img/budapest-950x292.jpg);
        border:10px, solid, red; 
        
    }  















