/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit{
        box-shadow: 10px 10px 20px #002424;
        background-image: url(../img/budapest.jpg);
        border:10px solid red; 
        
    }  

.hero-unit h1{
        color: white;
}













